:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: #222;
}

#bingo-card {
  background-color: #ddd;
  padding: 10px;
  border-radius: 70px;
  display: grid;
  gap: 3px;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 33%;
}

#bingo-card > div {
  background-color: #fff;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
}

#bingo-card > div:hover {
  background-color: #ccc;
  color: #000;
}

.checked {
  border-width: 3px;
  font-weight: 400;
}

.checked:hover {
  filter: grayscale(50%) !important;
}

.checked.rarity0 {
  background-color: indianred !important;
  color: #fff !important;
}

.checked.rarity1 {
  background-color: orange !important;
  color: #222 !important;
  border-width: 3px;
}

.checked.rarity2 {
  background-color: yellow !important;
  color: #222 !important;
}

.checked.rarity3 {
  background-color: greenyellow !important;
  color: #222 !important;
}

.checked.rarity4 {
  background-color: lightblue !important;
  color: #222 !important;
}

.checked.rarity5 {
  background-color: blueviolet !important;
  color: #222 !important;
}

a {
  color: #222;
}

a:hover {
  color: #22a;
}

@media only screen and (max-width: 768px) {
  #bingo-card {
    width: 700px;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: #eee;
  }

  a:hover {
    color: #ccf;
  }

  body {
    color: #eee;
    background-color: #222;
  }

  #bingo-card {
    background-color: #333;
    border: 1px solid #000;
  }

  #bingo-card > div {
    background-color: #000;
    border-color: #eee;
  }

  #bingo-card > div:hover {
    background-color: #444;
    color: #eee;
  }
}
