:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: #222;
}

#bingo-card {
  background-color: #ddd;
  padding: 10px;
  border-radius: 70px;
  display: grid;
  gap: 3px;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 33%;
}

#bingo-card > div {
  background-color: #fff;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
}

#bingo-card > div:hover {
  background-color: #ccc;
  color: #000;
}

.checked {
  background-color: #a22 !important;
  color: #fff !important;
  border-width: 3px;
}

.checked:hover {
  background-color: #700 !important;
}

a {
  color: #222;
}

a:hover {
  color: #22a;
}

@media only screen and (max-width: 768px) {
  #bingo-card {
    width: 700px;
  }
}
